.card_update {
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    color: #ff7779;
    background-image: url('../../Asset/ff.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cardupdate__info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
    display: flex;
  }

.cardupdate__info > div{
    margin-right: 100px;
}

.card_update > h3{
    color:black
}

.card_update > span > button{
    background-color: #ff7779;
}

  
  